<nz-collapse nzGhost>
  <nz-collapse-panel [nzHeader]="description">
    <h6>Packet Meta data</h6>
    <br />
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Source IP</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["client_addr"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Destination IP</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["server_addr"] }}</span>
      </div>
    </div>
    <br />

    <h6>IP Meta data</h6>
    <br />
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Layer 4 Source Port</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["client_port"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Layer 4 Source Port</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["server_port"] }}</span>
      </div>
    </div>
    <br />

    <h6>Bytes/Packets Information</h6>
    <br />
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Packets IN</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["client_port"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Packets OUT</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["server_port"] }}</span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Bytes IN</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["vol_pkt_cts"] }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Bytes OUT</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{ item?._source["vol_pkt_stc"] }}</span>
      </div>
    </div>
    <br />

    <h6>Layer 7 Information</h6>
    <br />

    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">L7 Protocol</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">
          <nz-tag [nzColor]="'#2db7f5'">
            {{ item?._source["classification_path"].split(".").pop() }}
          </nz-tag>

          <button
            *ngIf="item?._source['is_email'] === 1"
            nz-button
            [nzSize]="'small'"
          >
            <!-- (click)="openEmailDrawer(item)" -->

            <i nz-icon nzType="mail"></i> Open Reconstructed Email
          </button>
        </span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-2">
        <span class="left-text">Classification Path</span>
      </div>
      <div class="col-lg-3">
        :
        <span class="right-text">{{
          item?._source["classification_path"]
        }}</span>
      </div>
    </div>
    <br />
    <h6>More..</h6>
  </nz-collapse-panel>
</nz-collapse>
<ng-template #description>
  <div class="row">
    <div style="margin-top: 10px" class="col-lg-2">
      <div class="timestamp">
        <span class="">{{ item?._source["@timestamp"] }} </span>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="box">
        <span class="inner-item title">Flow ID </span>
        <span class="inner-item body">
          {{ item?._source["flow_id"] }}
        </span>
        <span class="inner-item title">L7 Protocol </span>
        <span class="inner-item body">
          <nz-tag [nzColor]="'#2db7f5'">
            {{ item?._source["classification_path"].split(".").pop() }}
          </nz-tag>
        </span>
        <span class="inner-item title">Classification Path </span>
        <span class="inner-item body">
          {{ item?._source["classification_path"] }}
        </span>

        <span class="inner-item title">Source IP </span>
        <span class="inner-item body">{{ item?._source["client_addr"] }} </span>

        <span class="inner-item title">Destination IP </span>
        <span class="inner-item body">{{ item?._source["server_addr"] }} </span>

        <span class="inner-item title">Source Port </span>
        <span class="inner-item body">{{ item?._source["client_port"] }} </span>

        <span class="inner-item title">Destination Port </span>
        <span class="inner-item body">{{ item?._source["server_port"] }} </span>
        <span class="inner-item title">Signature Family Name </span>
        <span class="inner-item body">{{ item?._source["family_name"] }} </span>

        <span class="inner-item title">Detailed Name </span>
        <span class="inner-item body">{{ item?._source["long_name"] }} </span>
      </div>
    </div>
  </div>
</ng-template>
