<div [class.even]="index % 2 === 0" [class.odd]="index % 2 !== 0">
  <nz-collapse nzGhost>
    <nz-collapse-panel [nzHeader]="description">
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-4">
              <span class="left-text">Source IP</span>
            </div>
            <div class="col-lg-8">
              :
              <span class="right-text">{{ item?.["ip_src"] }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <span class="left-text">Source Port</span>
            </div>
            <div class="col-lg-8">
              :
              <span class="right-text">{{ item?.["src_port"] }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-8">
              <span class="left-text">Destination IP</span>
            </div>
            <div class="col-lg-4">
              :
              <span class="right-text">{{ item?.["ip_dst"] }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <span class="left-text">Destination Port</span>
            </div>
            <div class="col-lg-4">
              :
              <span class="right-text">{{ item?.["dst_port"] }}</span>
            </div>
          </div>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #description>
    <div class="row">
      <div style="margin-top: 10px" class="col-lg-2">
        <!-- <div class="timestamp">
          <span class="">{{ item["date_time"] }} </span>
        </div> -->
      </div>
      <div class="col-lg-10">
        <div class="box">
          <span class="inner-item title"> Protocol </span>
          <span class="inner-item body">
            <nz-tag [nzColor]="'#2db7f5'" *ngIf="item?.['ip_protocol']===6">
              TCP
            </nz-tag>
            <nz-tag [nzColor]="'#2db7f5'" *ngIf="item?.['ip_protocol']===17">
              UDP
            </nz-tag>
            <nz-tag
              [nzColor]="'#2db7f5'"
              *ngIf="item?.['ip_protocol']!==17 && item?.['ip_protocol']!==6"
            >
              {{ item?.['ip_protocol']}}
            </nz-tag>
          </span>

          <span class="inner-item title">Source IP </span>
          <span class="inner-item body">{{ item?.["ip_src"] }} </span>

          <span class="inner-item title">Source Port </span>
          <span class="inner-item body">{{ item?.["src_port"] }} </span>

          <span class="inner-item title">Destination IP </span>
          <span class="inner-item body">{{ item?.["ip_dst"] }} </span>

          <span class="inner-item title">Destination Port </span>
          <span class="inner-item body">{{ item?.["dst_port"] }} </span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
