<p>events works!</p>
<!-- <nz-list nzBordered nzSize="small">
  <nz-list-item *ngFor="let item of data">
    <shared-events-list-item [item]="item"></shared-events-list-item>
  </nz-list-item> -->
<!-- </nz-list> -->

<nz-list
  [nzDataSource]="data"
  [nzRenderItem]="item"
  [nzItemLayout]="'horizontal'"
  [nzLoading]="loading"
>
  <ng-template #item let-item let-index="index">
    <shared-events-list-item
      [item]="item"
      [index]="index"
    ></shared-events-list-item>
  </ng-template>
</nz-list>
